<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Account Settings</title>
    <script src="/static/javascript/templatejavascript.js"></script>
</head>
<body>

    {% block content %}
    <div class="container">
        {% for message in get_flashed_messages() %}
        <div class="alert alert-warning">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ message }}
        </div>
        {% endfor %}

        {% block page_content %}{% endblock %}
    </div>
    {% endblock %}
    <form action="/changepasswordpage">
        <br /><br />
        <input type="submit" value="Change Account Password" /><br /><br />
    </form>
    <form action="/deleteaccount">
        <br /><br />
        <input type="submit" value="Delete Account" /><br /><br />
    </form>
</body>
</html>