<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Account Settings</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="/static/javascript/templatejavascript.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            window.setTimeout(function () {
                $(".alert").fadeTo(1000, 0).slideUp(1000, function () {
                    $(this).remove();
                });
            }, 5000);
        });
    </script>

    <link rel="stylesheet" href="static/css/accountcontrolspage.css" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/dashboardpage.css') }}" />
</head>
<body>
    <div class="header">
        <a href="#" class="logo">Encrypter</a>
        <div class="header-right">
            <a href="/dashboardpage" style="padding-left:20px; padding-right:20px;">Dashboard</a>
            <a id="about_text" href="/static/html/about.html" style="padding-left:20px; padding-right:20px;">About</a>
            <a id="tutorial" href="/static/html/tutorial.html" style="padding-left:20px; padding-right:20px;">How to Use</a>
            <a id="contact" href="/static/html/contact.html" style="padding-left:20px; padding-right:20px;">Contact</a>
        </div>
    </div>

    {% block content %}
    <div class="container">
        {% for message in get_flashed_messages() %}
        <div class="alert alert-warning">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ message }}
        </div>
        {% endfor %}

        {% block page_content %}{% endblock %}
    </div>
    {% endblock %}

    <h1>Account Settings</h1>
    <div id="account_controls">
        <a href="/changepasswordpage" id="change_password" class="btn btn-success">Change Password</a>
        <a onclick="" id="delete_account" class="btn btn-danger">Delete Account</a>
    </div>

</body>
</html>