<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Change Password</title>
    <script src="/static/javascript/templatejavascript.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            window.setTimeout(function () {
                $(".alert").fadeTo(1000, 0).slideUp(1000, function () {
                    $(this).remove();
                });
            }, 5000);
        });
    </script>
</head>
<body>

    {% block content %}
    <div class="container">
        {% for message in get_flashed_messages() %}
        <div class="alert alert-warning">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ message }}
        </div>
        {% endfor %}

        {% block page_content %}{% endblock %}
    </div>
    {% endblock %}
    <form action="/changepassword" method="post">
        <label id="oldpass">Enter Existing Password</label><br />
        <input type="password" id="oldpassword" name="oldpassword" placeholder="Existing Password" /><br /><br />

        <label id="newpass1">Enter New Password</label><br />
        <input type="password" id="newpass1" name="newpassword1" placeholder="New Password" /><br /><br />

        <label id="newpass2">Re-Enter New Password</label><br />
        <input type="password" id="newpass2" name="newpassword2" placeholder="Re-Enter New Password" /><br /><br />

        <input class="btn btn-primary" type="submit" value="Submit" />
    </form>
</body>
</html>