<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Dashboard</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            window.setTimeout(function () {
                $(".alert").fadeTo(1000, 0).slideUp(1000, function () {
                    $(this).remove();
                });
            }, 5000);
        });
    </script>
    <script src="/static/javascript/templatejavascript.js"></script>
    <script>
        function getimagepass() {
            document.getElementById('encryption_key').style.display = 'block';
        }
    </script>
    <script>
        function myFunction() {
            var input, filter, table, tr, td, i, txtValue;
            input = document.getElementById("myInput");
            filter = input.value.toUpperCase();
            table = document.getElementById("myTable");
            tr = table.getElementsByTagName("tr");
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[1];
                if (td) {
                    txtValue = td.textContent || td.innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }
    </script>

    <link rel="stylesheet" href="static/css/dashboardpage.css" />
</head>
<body>
    <!--<img src="{{ url_for('static', filename = 'images/dashboard_background.jpg')}}" /> --->
    
    <div id="header">
        <h1>Encrypter</h1>

        <a id="about_text" href="/about" style="text-align:right;">About Encrypter</a>
    </div>
    
    {% block content %}
    <div class="container">
        {% for message in get_flashed_messages() %}
        <div class="alert alert-warning">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ message }}
        </div>
        {% endfor %}

        {% block page_content %}{% endblock %}
    </div>
    {% endblock %}
    <h4>
        Welcome {% for e in mylist %} {{e}} {% endfor %}
    </h4>
    <div id="bttn">
        <a href="/account_settings" id="account_settings" class="btn btn-primary">Account Settings</a>
        <a href="/imageuploadpage" id="image_upload" class="btn btn btn-warning">Upload New Image</a>
        <a href="/logout" id="logout" class="btn btn-danger">Log Out</a>
    </div>

    <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for image names.." title="Type in a name">
    <table id="myTable">
        <tr>
            <th hidden>Image ID</th>
            <th style="text-align:center; width:20%">Image Name</th>
            <th style="text-align:center; width:30%">Upload Date</th>
            <th style="text-align:center; width:50%">Controls</th>

        </tr>
        {% for r in result %}
        <tr>
            <td hidden>{{ r[0] }}</td>
            <td style="text-align:center;">{{ r[1] }}</td>
            <td>{{ r[2] }}&nbsp;&nbsp;</td>
            <td>
                <a href="/downloadimagepage/{{r[0]}}" class="btn btn-success" onclick="getimgpass();">Download</a>&nbsp;&nbsp;
                <a href="/viewimagepage/{{r[0]}}" class="btn btn-primary" ">View</a>&nbsp;&nbsp;
                <a href="/deleteimage/{{r[0]}}" class="btn btn-danger" ">Delete</a><br />
                <label id="encryption_key" hidden>Enter 4-Digit Image Key</label>
                <input type="number" name="encryption_key" maxlength="4" required hidden />
            </td>
        </tr>
        {% endfor %}
    </table>
</body>
    
</html>