<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Upload Image</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="/static/javascript/templatejavascript.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            window.setTimeout(function () {
                $(".alert").fadeTo(1000, 0).slideUp(1000, function () {
                    $(this).remove();
                });
            }, 5000);
        });
    </script>
</head>
<body>
    {% block content %}
    <div class="container">
        {% for message in get_flashed_messages() %}
        <div class="alert alert-warning">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ message }}
        </div>
        {% endfor %}

        {% block page_content %}{% endblock %}
    </div>
    {% endblock %}
    <h3>Upload Image</h3>
    <form action="/imageupload" method="post" enctype="multipart/form-data">
        <label id="image_upload">Upload an Image</label><br /><br />
        <input type="file" name="uploaded_image" /><br /><br />

        <input type="checkbox" id="myCheck" name="check" value="default" checked onclick="addbox();" />
        <label id="default_pin">Use Default 4-Digit Pin?</label><br /><br />

        <label id="textlabel" hidden>Enter 4-Digit Encryption Key</label>
        <input type="text" id="text_box" name="encryption_key" hidden /><br /><br />

        <label id="img_name">Enter Image Name</label><br />
        <input type="text" id="img_text" name="image_name" /><br /><br />

        <input type="submit" value="Upload" />

    </form>
    <script>
        function addbox() {
            if (document.getElementById('myCheck').checked) {
                document.getElementById('text_box').style.display = 'none';
                document.getElementById('textlabel').style.display = 'none';
            }
            else {
                document.getElementById('text_box').style.display = 'block';
                document.getElementById('textlabel').style.display = 'block';
            }
        }
    </script>
</body>
</html>