<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
    <h1>Login</h1><br />

    <form action="/login" method="post">
        <label id="emailid">Enter Email</label><br />
        <input type="text" id="email" name="email_id" placeholder="Enter Email"/><br />

        <label id="pass">Enter Password</label><br />
        <input type="password" id="password" name="password" placeholder="Enter Password"/><br /><br />
        
        <input type="submit" value="SUBMIT" />
    </form>
</body>
</html>