<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>View Image</title>
</head>
<body>
    <form action="/viewimage" method="post">
        <label id="imageidtext">Enter Your 4-Digit Pin for Image</label><br />
        <input type="text" name="image_id" value="{{image_id}}" readonly /><br /><br />

        <input type="number" name="image_pass" maxlength="4" /><br /><br />

        <input type="submit" value="View" />
    </form>

</body>
</html>